# package dependencies
gdal
geopandas
matplotlib
numpy
pandas
rasterio
seaborn
tqdm

# to open and run the examples, i.e. notebooks
jupyter

# in addition to the ones above for sampledata examples
affine

# in addition to the ones above for raster examples
scikit-learn
