# package dependencies
gdal
numpy
pandas
rasterio
tqdm

# to open and run the examples, i.e. notebooks
jupyter

# in addition to the ones above for sampledata examples
affine
matplotlib
seaborn

# in addition to the ones above for raster examples
geopandas
scikit-learn
