# package dependencies
affine
dask[complete]
descartes
# gdal
geopandas
matplotlib
mlxtend
nbsphinx # dev
numpy
gdal
pandas
pytest # dev
rasterio
seaborn
sphinx # dev
sphinx_rtd_theme # dev
tqdm
typer
twine # dev
# to open and run the examples, i.e. notebooks
jupyterlab
# in addition to the ones above for sampledata examples
affine
# in addition to the ones above for raster examples
scikit-learn
